<!-- Footer -->
<footer class="bg-dark text-center text-white mt-0 pt-0">
    <!-- Grid container -->
    <div class="container p-4">
        
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Formula1/" target=”_blank” role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/F1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target=”_blank” role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/search?q=formula+1+google+%2B&oq=formula+1+google+%2B&aqs=chrome..69i57j0i22i30l8j0i22i30i457.7519j0j4&sourceid=chrome&ie=UTF-8" target=”_blank” role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/f1/" target=”_blank” role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/formula-one-management-ltd/" target=”_blank” role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
      </section>
     

      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://andreascv.netlify.com/">Andreas</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
